<div class="options">
<div class="hideaway_head display_options">
  <%= image_tag("plus.png", { :class => 'outline', :title => 'Click to toggle drop-down pane' } ) %> 
  Additional Display Options
</div>
<div class="hideaway_body display_options">
<table>
<tr><td></td><td>Mapping method</td><td>Color scheme</td></tr>
<tr><td>For single channel data:<%= help_link('single_display') %></td>
    <td><%= select('query', 'single_display', [["Per-gene log2 fold change", 0], ["Log2 transcript count", 1], ["Rank ordering", 2]], :selected => session[:single_display].to_i) %></td>
    <td><%= select('query', 'single_color', [["Red/Green", 0], ["Yellow/Blue", 1]], :selected => session[:single_color].to_i) %></td>
</tr>
<tr><td>For dual channel data:<%= help_link('dual_display') %></td>
    <td><%= select('query', 'dual_display', [["Centered per-gene fold change", 0], ["Reported log2 fold change", 1], ["Rank ordering", 2]], :selected => session[:dual_display].to_i) %></td>
    <td><%= select('query', 'dual_color', [["Red/Green", 0], ["Yellow/Blue", 1]], :selected => session[:dual_color].to_i) %></td>
</tr>
</table>
</div>
</div>
