<script type="text/javascript">
  jQuery(document).ready(function() {
    // Record various details about the state globally:
    //   alerted iff already alerted
    //   hidden  iff checkbox pane is hidden
    //   tags    iff there are "previous" tags
    princeton.hideway_body = { alerted: false };
    <%# controller.action_name() and @controller.action_name() are both strings %>
    var action = "<%= controller.action_name().to_s -%>";
    // console.log("action="+action);
    <% if session[:tags_searched] and session[:tags_searched].any? %>
          princeton.hideway_body.tags = true;
    <% end %>
    // Initially hide the tags pane whenever the tag selection has already been displayed:
    console.log("action = " + action);
    if (!princeton.hideway_body.tags || action == "dataset_listing" || action == "show_listing" || action == "show_results" ) {
        jQuery("#hideme").hide();
	princeton.hideway_body.hidden = true;
    }
    jQuery("#clickme").click(function() {
      var hidden = princeton.hideway_body.hidden;
      if (!hidden) { 
        // on the show_listing page anything goes
        if ( action == "show_listing") {
	  console.log("show_listing")
        } else if ( action == "index" || action == "gene_listing" ) {
          // On the "New Search" page, only allow the pane to be closed if NOTHING has been selected:
          if (princeton.checkedp()) {
            alert("The tags pane cannot be closed on this page if tags have been checked.  To clear the selection, click 'none'.")
            // princeton.hideway_body.alerted = true;
	    return;
          }
        } else {
        // disallow hiding if the selection has changed
          if ( princeton.changedp() ) {
	    if ( !princeton.hideway_body.alerted ) {
	      var msg = (action == "dataset_listing" || action == "show_listing") ? "'Filter by tags'" :
	      (action == "gene_listing" ? "'List'" : "'Update'") ;
              alert("The tags pane cannot be closed on this page if the tag selection has been changed.  To revert the changes, click 'previous query'.\n\nTo update the page, click "
	       + msg + ".");
              // princeton.hideway_body.alerted = true;
	    }
            return;
          }
        }
      }
      jQuery("#hideme").slideToggle(600);
      princeton.hideway_body.hidden = !hidden;
    });
  })
</script>

  <input type="hidden" name="form" value=1 />

  <% tags = SPELL_OPTIONS[:relevantTags]
     if tags.respond_to? :each 
       ncols = spell_options(:number_of_columns_for_tags) || 3
     %>

     <tr><td>
       <div class="hideaway_head">
         <span id="clickme" title="Click to open or close the drop-down pane">
	   <%= image_tag("plus.png", :class => "outline" ) %>
	   Options for Filtering Results by 
         </span>
         <%= link_to_new_tab("Dataset Tags",
                         {:action => 'tag_details'},
	                 {:title => "Open Dataset Tags page in new tab" } ) %>
       </div>
       <div id="hideme" class="hideaway_body" >

       <table class="search" align="center" id=table2 >
          <tr class="searchBox"><td style="font-weight: bold; padding-top: 1em;">Dataset Tags
            <%= help_link('tagsMenu')  %>
          </td></tr>

          <tr><td>
	    <form action="" class="togglepanel" >
            Select:
            <input type="button" onClick="princeton.toggle(this, true)"  value=all  />
            <input type="button" onClick="princeton.toggle(this, false)" value=none />
	    <input type="button" onClick="princeton.toggle(this, '.previous' )" value="previous query" />
            <input type="button" onClick="princeton.toggle(this)"        value="toggle" />
	    </form>
          </td></tr>


	  <% if local_assigns[:generate_filter_by_tags_button] %>
	        <tr>
	           <td class="searchBox">
		     <%= submit_tag 'Filter by tags', :class => "outline" %>
  	           </td>
                </tr>
          <% end -%>

        </table> <!-- table2 -->

        <table class="search" align="center" id="table3">
          <%
             ntags = tags.length
             nrows = (ntags / ncols)
             if (ntags % ncols) != 0
               nrows += 1 
               ntags = nrows * ncols
             end

             # In each row, print:  tags[row]  tags[nrows+row]  tags[2*nrows+row] 
	     (0 ... nrows).each { |row| %>
               <tr class="searchBox">
               <%
	       # logger.debug "session[:tags_searched] = #{session[:tags_searched].inspect}"
               (0 ... ncols).each { |col| %>
                  <%= emit_td(tags, (col*nrows)+row, session[:tags_searched] ) %>
                  <% } -%>
               </tr>
           <% } -%>

        <% logger.debug "#{__method__}: finished loop" -%>
        </table> <!-- table3 -->

       </div> <!-- hideaway_body -->
     </td></tr>

     <% end # if tags.respond_to? :each
     -%>
