<table class="search" align="center" id=table1>
  <tr class="searchTitle">
    <td>SPELL (<%= COMMON_NAME %>)</td>
  </tr>
  <tr class="searchBox">
    <td>
      <label for="query_search_genes">Gene Name(s):</label>
      <%= text_field 'query', 'search_genes' %>
      <%= submit_tag 'Search', { :onclick => 
          %q{return princeton.validate( '#query_search_genes',
            'Please enter at least one gene or gene alias, or, to filter datasets by tags, use the "Dataset Listing" feature.'
            ) }
          } %>
      <br>
      <label for="result_size">&nbsp;# Results:</label>
      <%= select 'query', 'num_genes', [['20', 20], ['50', 50], ['100', 100]], :selected => default_num_genes() %>
    </td>
  </tr>

  <%= render :partial => 'search_tags' %>

</table> <!-- table1 -->
