<div>
<b><i>Browser Compatibility</b></i>
<p>
Some features of the SPELL website use JavaScript and cookies. Please enable JavaScript and cookies to use the SPELL search engine.
<br><br>
The SPELL website has been extensively tested on a variety of web browsers running various operating systems. The following browsers are known to be compatible: 
<br><br>
Windows: Firefox(v2+, preferred), Internet Explorer(v6+)
<br>
Apple Mac:	Safari(v2+), Firefox (v2+), Other Gecko based browsers (e.g OmniWeb, Camino, etc.)
<br>
Linux:	Firefox(v2+)
</p>
</div>

<hr>

<div>
<b><i>Algorithm Details</i></b>
<p>
The main algorithm of the SPELL search engine is described in the paper:  <a href="http://bioinformatics.oxfordjournals.org/cgi/content/abstract/23/20/2692">Hibbs MA, <em>et al</em>.
Exploring the functional landscape of gene expression: Directed search of large microarray compendia.  
<em>Bioinformatics</em>, 2007.</a>
<br><br>
Briefly, given a set of query genes, the search engine determines a relevance weight for each dataset 
based on how well-correlated the query genes are in each dataset.  Datasets in which the query genes are largely 
co-expressed receive a high weight, while datasets in which the query genes do not agree are given a low weight.
Since there is evidence that negatively correlated gene pairs are no more
likely to share a function than randomly selected gene pairs (<a
href="http://www.biomedcentral.com/1471-2164/7/187/abstract">Myers et
al., 2006</a>), negative correlations are treated as no correlation
during score calculations.
<br><br>
Based on these per-dataset weights, weighted correlations are calculated for every other gene in the genome
to the query set.  In this way genes that agree with the query set in datasets where the query is consistent
will achieve the best results, while genes that agree with some of the query set in datasets where the query is 
not co-expressed will receive a low result.  Datasets and genes are sorted by their correlation scores and
returned for each query.
<br><br>
There are two edge cases not discussed in the main text that you may encounter:
<bl><li>
If no datasets are found to contain a significant signal for a given query then we are unable to assign 
per-dataset weights for the search. In this case a warning message is displayed, and all datasets are equally 
weighted for that query.
</li><li>
If no genes are related to the query set at a reliable confidence level, then a warning message is 
displayed and the confidence level is weakened until results can be obtained.<br> 
</li></bl>
<br>
Both of these cases typically only occur when the query genes are either largely unrelated, or highly unique. 
Neither of these cases occurs very often.
</div>

<hr>

<div>
<b><i>Implementation Details</i></b>
<p>
The SPELL search engine interface was built using the <a href="http://www.rubyonrails.org/">Ruby on Rails</a> framework, with 
C++ and <a href="http://java.sun.com">Java</a> backends to perform the searches.  <a href="http://en.wikipedia.org/wiki/AJAX">AJAX</a>
elements were created using the <a href="http://www.prototypejs.org/">Prototype</a>, <a href="http://jquery.com/">JQuery</a>, 
<a href="http://jquery.com/demo/thickbox/">Thickbox</a>, and 
<a href="http://codylindley.com/Javascript/264/jtip-a-jquery-tool-tip">JTip</a> libraries.	
</p>	
</div>

<div>
<b><i>Version</i></b>
<p>
This instance of SPELL is running SPELL Version <%= SPELL_VERSION -%><%= spell_options(:patchlevel) || "" -%>.
</p>	
</div>
