<% if String === SPELL_OPTIONS[:h1Text] %>
  <% @page_title = "#{SPELL_OPTIONS[:h1Text]} - Dataset Details" -%>
<% else %>
  <% @page_title = "SPELL - <i>#{LATIN_NAME}</i> - Dataset Details" -%>
<% end %>

<% if request.xhr? == true -%>
	<table class="smallDetails">
<% else -%>
	<table class="details">
<% end -%>
<tr><td class="colLabel">Citation</td>
<td><%= @dataset.all_authors %>. <%= @dataset.title %>
	<i><%= @dataset.journal %></i>, <%= @dataset.pub_year %>.</td></tr>
<% if request.xhr? == false -%>
	<tr><td class="colLabel">PubMed ID</td>
	<td>
	  <% if @dataset.pubmedID == 0 -%>
	    Not available
	  <% else -%>
	    <%= link_to_pubmed(@dataset.pubmedID) %>
	  <% end -%>
	</td></tr>
<% end -%>
<tr><td class="colLabel">Short Description</td>
<td><%= @dataset.name %></td></tr>
<tr><td class="colLabel"># of Conditions</td>
<td><%= @dataset.num_conds %></td></tr>
<tr><td class="colLabel">Full Description
<% if request.xhr? == false -%>
	<%= help_link('full_desc') %>
<% end -%>
</td>
<td><%= @dataset.description %></td>
</tr>

<%# WARNING: KEEP IN SYNC WITH expr_results.rhtml and expr_listing.rhtml %>
<% if SPELL_OPTIONS[:tags] %>
<tr>
  <td class="tagsTitle colLabel">
    <%= link_to("Tags", {:action => "tag_details"}) -%> 
    <%= help_link('tags') -%>
  </td>
  <td class="tags">
    <% if @dataset.tags
             case @dataset.tags
               when '', 'Not yet curated', 'Not Yet Curated' -%>
		 <span class="notags">Not yet curated</span>
             <% when 'none' -%>
		 <span class="notags">none</span>
             <% when 'Not categorized', 'Not Categorized' -%>
		 <span class="notags">Not categorized</span>
             <% else -%>
		 <% tags = @dataset.tags.split("|").sort_by {|x| x.downcase }.join(', ') -%>
		 <div class="tags"> <%= tags %> </div>
             <% end -%>
    <% end -%>
  </td>
</tr>
<% end -%>


<% if !@flexible_dataset_links.nil? && @flexible_dataset_links.length > 0 -%>
        <tr>
          <td class="colLabel">Other Links</td>
          <td>
            <% if request.xhr? -%>
	      To see other links available for this dataset, click on the article link instead of mousing over it.
	    <% else
	      @flexible_dataset_links.length.times do |i|
	        flexible_link = @flexible_dataset_links[i-1]
	        if flexible_link_has_condition(flexible_link)
	          @dataset.num_conds.times do |j| -%>
		    <%= flexible_link_to_anchor(flexible_link,@dataset.filename,j.to_s) %>
		    <br />
		  <% end
	        else -%>
                  <%= flexible_link_to_anchor(flexible_link,@dataset.filename,"") %>
		  <br />
	        <% end
              end
	    end -%>
          </td>
        </tr>
<% end -%>
</table>
