<% if String === SPELL_OPTIONS[:h1Text] %>
  <% @page_title = "#{SPELL_OPTIONS[:h1Text]} - #{session[:tags_found] ? "Filtered " : ""}Dataset Listing" -%>
<% else %>
  <% @page_title = "SPELL - <i>#{LATIN_NAME}</i> - #{session[:tags_found] ? "Filtered " : ""}Dataset Listing" -%>
<% end %>

<% if session[:tags_searched] and session[:tags_searched].any?
     searched = session[:tags_searched].join(', ')
   -%>
<div>
  <% if session[:tags_found] %>
       <% if selectedTagsAreKnownToBeExhaustive %>
       The listing has not been filtered as all tags were selected.
       <% else %>
       This listing has been filtered to include only those datasets which have been tagged with at least one of the tags:
       <span class="searchedTags"> <%= searched %> </span>
       <p/>
       To search with this filter in place, click on the "New Search" or "Show Expression Levels" link in the menu on the left.
       <% end %>
  <% else -%>
  This listing has <strong class="searchedTags">not</strong> been filtered based on dataset tags as none of the datasets has any of the tags that were specified.
  <% end -%>
</div>
<% end -%>

<form method=post action="dataset_listing">
  <input type="hidden" name="form" value="true" />
  <table class="search" align="center" id="hideaway">
    <%= render :partial => 'search_tags', :locals => { :generate_filter_by_tags_button => true }  %>
  </table>
</form>

<% paginated_section @datasets do -%>
<table id="list">
  <% if @datasets.length == 0 -%>
    <tr class="listTitle"><td>No datasets currently in the database</td></tr>
  <% else -%>  
    <tr class="listTitle">
      <td><%= link_to "Publication", {:action => 'dataset_listing', :order => 'author'} %></td>
      <td><%= link_to "Num.<br>Conditions", {:action => 'dataset_listing', :order => 'num_conds'} %></td>
      <td><%= link_to "Brief Description", {:action => 'dataset_listing', :order => 'name'} %></td>
      <td><%= link_to "PubMed ID", {:action => 'dataset_listing', :order => 'pubmedID'} %></td>
    </tr>
  
    <% odd_or_even = 0
    for dataset in @datasets
      odd_or_even = 1-odd_or_even -%>
      <tr class="listLine<%= odd_or_even %>">
        <td class="nowrap"><%= dataset.author %> <i>et al.</i>, <%= dataset.pub_year %></td>
        <td><%= dataset.num_conds %></td>
        <td><%= dataset.name %>
          <span class="listActions">
            <%= link_to "(details)", :action => 'dataset_details', :id => dataset.id %>
          </span>
        </td>
        <td><%= link_to_pubmed(dataset.pubmedID) %></td>
      </tr>
    <% end -%>
  <% end -%>
</table>
<% end -%>
