<% @page_title = "SPELL - <i>#{LATIN_NAME}</i> - Dataset Tags" -%>

<p>
<%= spell_options(:DescribeDatasetTags) || "" %>
<p>
Note that other datasets drawn from the same source may have been assigned a different set of tags.
<p>
The full listing of a dataset's tags can be viewed by hovering over, or clicking on, the dataset's hyperlink.
