<%
datasets = Dataset.find(:all, :order => 'author') 

# filter out datasets with no data for any of the genes:
datasets = relevant_datasets( datasets, session[:query_ids])

# filter by dataset tags:
datasets = filter_datasets ( datasets )

numSetsShown = 10
startSet = 0
if session[:dset_page] != nil && session[:dset_page].to_i != 0
	startSet = (session[:dset_page].to_i - 1) * numSetsShown
end
if startSet >= datasets.length
	startSet = datasets.length - numSetsShown
end

startSet = [0, startSet].max
endSet   = [startSet + numSetsShown - 1, datasets.length - 1].min
-%>

<div id="expr_table">
	
<table class="results" cellspacing=2>

<tr><td colspan=1 align=right class="lbl">Dataset&nbsp;&nbsp;</td>
<% for i in startSet..endSet -%>
  <% dset = datasets[i] -%>
  <td class="dsetDesc"><%= link_to(dset.author + "<i> et al.</i>, " + dset.pub_year.to_s,
  								 { :action => 'dataset_details', :id => dset.id,
								   :link => url_for(:action => 'dataset_details', :id => dset.id), :width => 500 },
								 { :class => 'jTip', :id => dset.id } ) %></td>
<% end -%>
</tr>


<%# WARNING: KEEP IN SYNC WITH dataset_details.rhtml and expr_results.rhtml %>
<% if SPELL_OPTIONS[:tags] %>
  <tr><td colspan=1 align=right class="tagsTitle lbl">
    <%= link_to("Tags", {:action => "tag_details"}) -%> 
    <%= help_link('tags') -%>
    </td>
    <% for i in startSet..endSet -%>
	<% dset = datasets[i] -%>
	<td class="tags">
	<% if dset; case dset.tags
              when nil, '', 'Not yet curated', 'Not Yet Curated' -%>
		 <span class="notags">Not yet curated</span>
             <% when 'none' -%>
		 <span class="notags">none</span>
             <% when 'Not categorized', 'Not Categorized' -%>
		 <span class="notags">Not categorized</span>
             <% else -%>
		 <% tags = dset.tags.split("|").sort_by {|x| x.downcase }.join(', ') %>
		 <div class="tags"> <%= tags %> </div>
	<% end; end -%>
	</td>
    <% end %>
  </tr>
<% end %>


<tr><td colspan=1 align=right class="lbl">Description&nbsp;&nbsp;</td>
<% for i in startSet..endSet -%>
	<% dset = datasets[i] -%>
	<td class="descr"><%= truncate(dset.name, :length => 80) %></td>
<% end -%>
</tr>

<tr class="nowrap">
<td class="lbl">Gene</td>
</tr>

<% 
for gID in session[:query_ids]
  gene = Gene.find(gID) -%>
  <tr class="nowrap">
  <td><%= link_to_genepage(gene.name) %></td>
  <% for i in startSet..endSet
       expr = get_expression(datasets[i].id, gene.id)
	   cutoff = 2 -%>
  	   <td><%= single_expr_link(datasets[i].id, gene.id, expr, cutoff) %></td>
  <% end -%>   
  </tr>
<% end -%>

</table>

</div>
