<%
setParts = session[:set_order].split(",")
numSetsShown = 10
startSet = 0
if session[:dset_page] != nil && session[:dset_page].to_i != 0
	startSet = (session[:dset_page].to_i - 1) * numSetsShown
end
if startSet >= setParts.length
	startSet = setParts.length - numSetsShown
end
endSet = [startSet + numSetsShown - 1, setParts.length - 1].min
-%>

<div id="expr_table">
	
<table class="results" cellspacing=2>

<tr><td colspan=4 class="lbl_right">Dataset&nbsp;&nbsp;</td>
<% for i in startSet..endSet -%>
  <% entry = setParts[i].split(":") -%>
  <% dset = Dataset.find(entry[0].to_i) -%>
  <td class="dsetDesc"><%= link_to(dset.author + "<i> et al.</i>, " + dset.pub_year.to_s,
  				   { :action => 'dataset_details', :id => dset.id,
				     :link => url_for(:action => 'dataset_details', :id => dset.id), 
				     :width => 500 },
				   { :class => 'jTip', :id => dset.id } ) %>
  </td>
<% end -%>
</tr>

<%# WARNING: KEEP IN SYNC WITH dataset_details.rhtml and expr_listing.rhtml %>
<% if SPELL_OPTIONS[:tags] %>
  <tr>
    <td colspan=4 class="tagsTitle lbl_right">
      <%= link_to("Tags", {:action => "tag_details"}) -%> 
      <%= help_link('tags') -%>
    </td>
    <% for i in startSet..endSet -%>
	<% entry = setParts[i].split(":") -%>
	<% dset = Dataset.find(entry[0].to_i) -%>
	<td class="descr">
	<% if dset; case dset.tags
              when nil, '', 'Not yet curated', 'Not Yet Curated' %>
  	       <span class="notags">Not yet curated</span>
             <% when 'none' %>
		 <span class="notags">none</span>
             <% when 'Not categorized', 'Not Categorized' %>
		 <span class="notags">Not categorized</span>
             <% else %>
		 <% tags = dset.tags.split("|").sort_by {|x| x.downcase }.join(', ') %>
		 <span class="tags"> <%= truncate_at_whitespace(tags) %> </span>
	<% end; end -%>
	</td>
    <% end %>
  </tr>
   <tr id="extra_row_below_tags"><td class="spacer">&nbsp;</td></tr>
<% end %>

<tr><td colspan=4 class="lbl_right">Description&nbsp;&nbsp;</td>
<% for i in startSet..endSet -%>
	<% entry = setParts[i].split(":") -%>
	<% dset = Dataset.find(entry[0].to_i) -%>
	<td class="descr"><%= truncate(dset.name, :length => 80) %></td>
<% end -%>
</tr>

<tr>
  <% if (session[:query_ids].length == 1) %>
     <td colspan=4 class="lbl_right">Column&nbsp;&nbsp;<%= help_link('columnNumber') %></td>
  <% else %>
     <td colspan=4 class="lbl_right">Rank&nbsp;&nbsp</td>
  <% end -%>
  <% for i in startSet..endSet -%>
	<td><%= (i+1).to_s %></td>
  <% end -%>
</tr>

<% if (session[:query_ids].length != 1) %>
  <tr><td colspan=4 class="lbl_right">Contribution<%= help_link('contrib') %></td>
  <% for i in startSet..endSet -%>
    <% entry = setParts[i].split(":") -%>
    <td><%= entry[1] %></td>
  <% end -%>
  </tr>
<% end -%>

<tr class="nowrap"><td></td>
<td class="lbl">Rank</td>
<td class="lbl">ACS<%= help_link('ACS') %></td>
<td class="lbl">Gene</td>
</tr>

<%
geneParts = session[:gene_order].split(",")
geneNames = ""
rank = 0
for genePart in geneParts
  entry = genePart.split(":")
  gene = Gene.find(entry[0].to_i)
  geneNames = geneNames + gene.name + "," -%>
  <% if session[:qGenes][gene.id] == 1 -%>
    <tr class="query">
      <td class="query_row_header">
  	<%= check_box_tag(gene.name, gene.id, true, {}) %>
      </td>
      <td class="query_row_header">--</td>
      <td class="query_row_header">--</td>
  <% else -%>
    <% rank += 1 -%>
    <% if rank <= session[:num_genes].to_i -%>
      <tr class="nowrap">
        <!-- In R2.0.2, the bgcolor of the following three td elements varied
          -- (using score_to_color(entry[1],3)) and the font color was black
        -->
        <td class="results_row_header"> <%= check_box_tag(gene.name, gene.id, false, {}) %> </td>
        <td class="results_row_header"> <%= rank %> </td>
  	<td class="results_row_header"> <%= entry[1] %> </td>
    <% end -%>
  <% end -%>
  
  <% if rank <= session[:num_genes].to_i -%>
  	<td><%= link_to_genepage(gene.name) %></td>
  	<% for i in startSet..endSet
          setEntry = setParts[i].split(":")
    	  expr = get_expression(setEntry[0], gene.id)
		 cutoff = 2
       	  dset = Dataset.find(setEntry[0].to_i) -%>
    	  <td><%= single_expr_link(setEntry[0], gene.id, expr, cutoff) %></td>
        <% end -%>
      </tr>
  <% end -%>
  
<% end -%>
</table>
</div>
