<div class="searchHeader">
  
  <% form_tag(:action => 'new_listing') do -%>
  <table class="search" align="center">
  <tr class="searchTitle">
    <td>Show Expression Levels</td>
  </tr>
  <tr class="searchBox">
    <td>
      <label for="query_search_genes">Gene Name(s):</label>
      <%= text_field 'query', 'search_genes' %>
      <%= submit_tag 'List', { :onclick => 
          %q{return princeton.validate( '#query_search_genes',
            'Please enter at least one gene or gene alias, or, to filter datasets by tags, use the "Dataset Listing" feature.'
            ) }
          } %>
    </td>
  </tr>

  <tr><td>
    <%= render :partial => 'search_tags' %>
  </td></tr>

</table>
  <% end -%>

	<div id="instructions">
	Enter gene names to see their expression profile in all datasets in the compendium.
	This does not perform any search, it simply shows the expression levels for the genes requested.
	To perform a search for similar genes in the data collection, use the
	<%= link_to 'new search', { :action => 'index' } %> option.
  	<% if SPELL_OPTIONS[:videoTutorialUrl] %>
  	  <br><br>
	  Need help getting started with SPELL? Check out the <%= link_to "video tutorial", SPELL_OPTIONS[:videoTutorialUrl] %>.
	<% end %>
	Additional help may be obtained by hovering over the help icon wherever you see it. <%= help_link('illustrativehelp') %>

	</div>

</div>