 
 <% geneParts = session[:gene_order].split(",")
	geneNames = ""
	rank = 0
	maxRank = session[:num_genes].to_i
	for genePart in geneParts
  		entry = genePart.split(":")
  		gene = Gene.find(entry[0].to_i)
		if session[:qGenes][gene.id] == 1
			geneNames = geneNames + gene.name + ","
		elsif rank < maxRank
			geneNames = geneNames + gene.name + ","
			rank += 1
		end
	end -%>
 
 <table class="goresults">
 <tr align=center><td>GOTerm</td><td class="fit">P-val</td><td class="fit">% query</td>
 <td class="fit">% genome</td><td>Annotated Genes</td></tr>
 <%= getGOrows(geneNames.chop!) %>
 </table>