<div id="help">

<% 
@boilerplate=%q{
SPELL is a microarray search engine designed to quickly identify
datasets and genes related to a query set of genes.
When multiple genes are provided as a query, SPELL determines the
relevance of each dataset based on the co-expression level of the set
of genes within each dataset, and identifies additional genes of
interest based on the most relevant datasets.
}
%>

<% if params[:type] == 'single_display' -%>
Single Channel Options<br>
Transcript data from single channel platforms (e.g. Affymetrix) can be displayed in three ways:
<ul><li>Log2 transcript count - Maps reported transcript counts by taking the log base 2
of the count and mapping 0 to black and saturating values to the positive expression color (red or yellow)</li>
<li>Per-gene log2 fold change - Calculates fold changes on a per-gene basis by dividing reported
transcript counts by the average count for the gene, then performs a log base 2 transformation. Positive values
are mapped to red or yellow, negative values are mapped to green or blue</li>
<li>Rank based - Displays the expression level ranks in gray scale, 
    showing the condition with the lowest expression level as black
    and the condition with the highest expression level as white.</li>
</ul> 

<% elsif params[:type] == 'dual_display' -%>
Dual Channel Options<br>
Expression data from dual channel platforms (e.g. Agilent) can be displayed
in three ways:
<ul><li>Reported log2 fold change - Uses reported fold change values by mapping under-expression to
the negative color (green or blue) and over-expression to the positive color (red or yellow).</li>
<li>Centered per-gene fold change - Same as above, but subtracts the average fold change from expression values on a 
per gene basis</li>
<li>Rank based - Displays the expression level ranks in gray scale, 
    showing the condition with the lowest expression level as black
    and the condition with the highest expression level as white.</li>
</ul>

<% elsif params[:type] == 'ACS' -%>
ACS (Adjusted Correlation Score)<br>
This is a measure of weighted correlation for the gene with the query set
across all datasets. For datasets in which the gene does not appear, the gene
is treated as uncorrelated.

<% elsif params[:type] == 'contrib' -%>
Contribution<br>
This is the percentage of total correlation within the query set captured
by each individual dataset.  These percentages are the weights used when searching
for additional genes related to the query set.<br>
If a single gene is used as a query, all datasets are weighted equally, and this row is omitted.

<% elsif params[:type] == 'columnNumber' -%>
Column Number<br>
In the case of single-gene queries, all datasets are weighted equally, and this row simply gives a column number.
When more than one gene is specified in the query, this row is replaced by one giving a ranking of the datasets.
<% elsif params[:type] == 'update_search' 
   # You can direct and re-target your search by altering the genes in the query set.
   # You can also modify the dataset filtering criteria by altering the selection of dataset tags.
-%>
Update<br>
Click the <i>Update</i> button to update this page after changing the search and/or filtering criteria.
<br><br>
To change the set of genes to be used for searching,
check the boxes next to the genes you want in your new query set.
To change the selection of dataset tags to be used for filtering, first ensure the Dataset Tags pane is open.
<br><br>
The filter only determines which datasets are displayed; it does not not affect the search itself.

<% elsif params[:type] == 'results' -%>
  <% if session[:query_ids].length == 1 -%>
Search Results for Single-gene Queries<br>
The results of your search are displayed in the table on this page.
Datasets are displayed in columns, and genes are listed in rows.
<br/><br/>
The first row in the body of the table is for the target gene and is highlighted gray.
The top results from the search are then listed in order starting with the most correlated.
<br/><br/>
Note that datasets are only ranked by relevance to the query set for multi-gene queries.
 <% else -%>
Search Results for Multi-gene Queries<br>
The results of your search are displayed in the table on this page.
Datasets are displayed in columns, and genes are listed in rows.
<br/><br/>
The rows with genes in the query set are highlighted gray.  
The top results from the search are then listed in order starting with the most correlated.
<br/><br/>
For multi-gene queries, datasets are displayed from left to right in order of relevance to the genes in the query set.
 <% end -%>
<br/><br/>
<%= @boilerplate %>

<% elsif params[:type] == 'full_desc' -%>
Full Description<br>
This is a more detailed description of the dataset taken from either the data repository or the
abstract of the publication.  For complete information, please refer to the original publication.

<% elsif params[:type] == 'gotermenrich' %>
GO Term Enrichment<br>
This table shows terms from the gene ontology that are significantly enriched in the list of genes
displayed as the result of your search.  Significance is calculated using the hypergeometric
distribution, and Bonferroni correction is applied to the p-values reported.  Note that both query genes
and the genes returned by the search are included in this calculation.

<% elsif params[:type] == 'NotYetCuratedTag' %>
Check this option to include datasets which have not yet been curated.

<% elsif params[:type] == 'OtherTag' %>
Check this option to include datasets which have the tag "other", whether or not they have other tags.

<% elsif params[:type] == 'tagsMenu' %>
Dataset Tags
<br/>
Filtering results by dataset tags does not affect the SPELL search algorithm.
<p/>
If you do not check any tags, the results will not be filtered based on how the datasets have been tagged.
Otherwise only datasets which have at least one of the selected tags will be displayed.
<p/>
To select the tags most recently used in a query, click on 'previous query'.  To flip the selection, click on 'toggle'.
<% elsif params[:type] == 'tags' %>
Tags associated with this dataset.
<br/>
The full listing of a dataset's tags can be viewed by hovering over, or clicking on, the dataset's hyperlink.
Note that different datasets drawn from the same source may have been assigned different tags.
<%= if String === SPELL_OPTIONS[:HelpDatasetTags]
      SPELL_OPTIONS[:HelpDatasetTags]
    end
-%>

<% elsif params[:type] == 'illustrativehelp' %>
Genes may be specified using systematic names, standard names, and aliases.
<br/><br/>
Each heat map shown on search results pages is also mouse-sensitive. The associated popup window includes sample titles and expression levels.

<% elsif params[:type] == 'DatasetResultsAsText' %>
Dataset Results as Text
<br/>
Click this button to obtain a textual listing of dataset relevance (Contribution, PubMedID, and brief citation) for the current search results.
The listing only includes datasets that have a non-zero weight. If dataset filtering is in effect, only datasets that have been tagged with at least one of the currently selected tags are included.
<br/><br/>
To obtain a textual listing of dataset relevance, you must specify at least two genes in your query.
<% end -%>

</div>
