<div class="searchHeader">
  <% form_tag(:action => 'submit_search') do -%>
  <%= render :partial => 'search_form' %>
  <% end -%>
  
  <div id="instructions">
  SPELL (Serial Pattern of Expression Levels Locator) is a query-driven search engine for large
  gene expression microarray compendia.  Given a small set of query genes, SPELL identifies which
  datasets are most informative for these genes, then within those datasets additional genes
  are identified with expression profiles most similar to the query set.
  <%= SPELL_OPTIONS[:description] -%>

  <br><br>
  To use SPELL, simply enter a set of
  <%= link_to "<i>#{LATIN_NAME}</i>", "#{DB_PATH}" %>
  gene names (defined by <a href= <%= "\"#{DB_PATH}\"" %> > <%= DB_NAME -%></a>)
  into the text box above and then click the "Search" button.  
  <br><br>
  Please note that the "Filtering Results by Dataset Tags" feature simply filters the datasets for display purposes.
  It does not affect the SPELL search algorithm.
  <br><br>
  <% if SPELL_OPTIONS[:videoTutorialUrl] %>
    Need help getting started with SPELL? Check out the <%= link_to "video tutorial", SPELL_OPTIONS[:videoTutorialUrl] %>.
  <% end %>
  Additional help may be obtained by hovering over the help icon wherever you see it. <%= help_link('illustrativehelp') %>

  <% if SPELL_OPTIONS[:spell1] %>
    <br><br>
    To access SPELL version 1.0 with the original datasets, please visit <%= link_to SPELL_OPTIONS[:spell1], 'http://' + SPELL_OPTIONS[:spell1] %>.
  <% end %>  

  </div>
  
</div>

