<% gene = Gene.find(params[:geneID].to_i) -%>
<% dset = Dataset.find(params[:dsetID].to_i) -%>
<% expr = get_expression(dset.id, gene.id) -%>

<div class="singleExpr">

<table class="smallDetails">
<tr><td class="colLabel">Citation</td>
<td><%= dset.author %>,<i>et al.</i> <%= dset.title %>
	<i><%= dset.journal %></i>, <%= dset.pub_year %>.</td></tr>
<tr><td class="colLabel">Short Description</td>
<td><%= dset.name %></td></tr>
</table>

<div>
<%= format_single_expression(gene, dset.cond_descs, expr, 2, dset.id) %>
</div>

</div>