<html>
<head>
<!--
<%= stylesheet_link_tag "common", "search", :media => "all" %>

<% if String === SPELL_OPTIONS[:local_css] %>
  <%= stylesheet_link_tag SPELL_OPTIONS[:local_css] %>
<% end %>

<script type="text/javascript">
	var GB_ROOT_DIR = "javascripts/";
</script>
<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag "jquery-latest.pack.js" %>
<script>
	jQuery.noConflict();
</script>
<%= javascript_include_tag "thickbox.js" %>
<%= javascript_include_tag "jtip.js" %>
-->
</head>
<body>
<table>
  <tr>
    <% setParts = session[:set_order].split(",")
       @num_datasets.times do |i|
       entry = setParts[i].split(":")
       dset = Dataset.find(entry[0].to_i) -%>
     <td class="dsetDesc"><%= dset.author + "<i> et al.</i>, " + dset.pub_year.to_s %>
     </td>
    <% end -%>
  </tr>
  <% geneParts = session[:gene_order].split(",")
     num_genes = [session[:num_genes].to_i,geneParts.length].min
     num_genes.times do |i|
     gene = Gene.find(geneParts[i].split(":")[0]) -%>
  <tr>
    <% @num_datasets.times do |i|
       entry = setParts[i].split(":")
       expr = get_expression(entry[0], gene.id)
       cutoff = 2
       #dset = Dataset.find(entry[0].to_i) -%>
    <td class="dsetRibbon"><%= format_expression(expr, cutoff, entry[0]) %></td>
    <% end -%>
  </tr>
  <% end # num_genes.times -%>  
</table>
</body>
</html>
