<script type="text/javascript">
 function loadingAnimation(onoff) {
   if (onoff) {
     jQuery('body').append('<div id="overlay"></div>');
     jQuery('body').append('<div id="loader"><%=image_tag "loadingAnimationBig.gif"-%></div>');
   } else {
     jQuery('#overlay').remove();
     jQuery('#loader').remove();
   }
 }
</script>

<%# 2011.10.22: filter by tags -- cf. show_results.rhtml %>
<% if session[:tags_searched].respond_to? :any? and session[:tags_searched].any?
     searched = session[:tags_searched].join(', ')
   -%>
<div>
  <% if session[:tags_found] %>
       <% if selectedTagsAreKnownToBeExhaustive  %>
       The set of datasets shown below has not been filtered based on dataset tags as all the tags were selected.
       <% else %>
       The set of datasets shown below has been filtered to include only those datasets which have been tagged with at least one of the tags:
       <span class="searchedTags"> <%= searched %> </span>
       <% end %>
  <% else %>
  The datasets have <strong class="searchedTags">not</strong> been filtered based on the specified dataset tags as none of the datasets have any of the tags that were specified.
  <% end %>

</div>
<% end -%>

Datasets to view: <%= select('query', 'dset_page', alpha_dset_page_choices(10), :selected => session[:dset_page].to_i) %>
<%= observe_field('query_dset_page', {:url => {:action => :expr_listing}, :update => "exprs", :with => 'dset_page',
					:complete => "JT_init(); tb_init('a.thickbox, area.thickbox, input.thickbox'); loadingAnimation(false);",
					:before => "loadingAnimation(true);" } ) %>

<%= javascript_tag( remote_function( :update => "exprs", :url => {:action => :expr_listing},
					 :complete => "JT_init(); tb_init('a.thickbox, area.thickbox, input.thickbox'); loadingAnimation(false);",
					 :before => "loadingAnimation(true);" ) ) %>

<%= render :partial => 'additional_display_options' %>

<% # SPELL Version 2.0.3
  if SPELL_OPTIONS[:relevantTags]
  %>
  <form action="show_listing" method="post" >
    <input type="hidden" name="query[search_string]" value="<%= session[:search_string]-%>" />
    <input type="hidden" name="query[num_genes]"     value="<%= session[:num_genes]-%>" id="hidden_num_genes" />
    <%= render :partial => 'search_tags', :locals => { :generate_filter_by_tags_button => true }  %>
  </form>
<% end -%>

<%= observe_field('query_single_display', {:url => {:action => :expr_listing}, :update => "exprs", :with => 'single_display',
					:complete => "JT_init(); tb_init('a.thickbox, area.thickbox, input.thickbox'); loadingAnimation(false);",
					:before => "loadingAnimation(true);" } ) %>

<%= observe_field('query_single_color', {:url => {:action => :expr_listing}, :update => "exprs", :with => 'single_color',
					:complete => "JT_init(); tb_init('a.thickbox, area.thickbox, input.thickbox'); loadingAnimation(false);",
					:before => "loadingAnimation(true);" } ) %>

<%= observe_field('query_dual_display', {:url => {:action => :expr_listing}, :update => "exprs", :with => 'dual_display',
					:complete => "JT_init(); tb_init('a.thickbox, area.thickbox, input.thickbox'); loadingAnimation(false);",
					:before => "loadingAnimation(true);" } ) %>

<%= observe_field('query_dual_color', {:url => {:action => :expr_listing}, :update => "exprs", :with => 'dual_color',
					:complete => "JT_init(); tb_init('a.thickbox, area.thickbox, input.thickbox'); loadingAnimation(false);",
					:before => "loadingAnimation(true);" } ) %>

<br><br>

<div id="exprs">
</div>	
