<script type="text/javascript">
 function loadingAnimation(onoff) {
   if (onoff) {
     jQuery('body').append('<div id="overlay"></div>');
     jQuery('body').append('<div id="loader"><%=image_tag "loadingAnimationBig.gif"-%></div>');
   } else {
     jQuery('#overlay').remove();
     jQuery('#loader').remove();
   }
 }

 // Propagate selection of num_genes without relying on session variables.
 function copy_num_genes() {
   var x = jQuery('#query_num_genes').val();
   jQuery('#hidden_num_genes').val( x ); 
}
</script>

<div>
Search results<%= help_link('results') %> for
<%		qGenes = Hash.new
		g = Gene.find(session[:query_ids][0]) -%>
		<%= link_to_genepage(g.name) %>
<%		qGenes[g.id] = 1		
		for i in 1...session[:query_ids].length
			g = Gene.find(session[:query_ids][i])
 			qGenes[g.id] = 1 -%>
			, <%= link_to_genepage(g.name) %>
<% 		end 
		session[:qGenes] = qGenes -%>
<br />
</div>

<% if session[:tags_searched] and session[:tags_searched].any?
     searched = session[:tags_searched].join(', ')
   -%>
<div>
  <% if session[:tags_found] %>
       <% if selectedTagsAreKnownToBeExhaustive %>
        sts= <%= session[:tags_searched].length %> ,  <%= spell_options(:relevantTags).length %> <p/>
       The results have not been filtered as all tags were selected.
       <% else %>
       The results shown below have been filtered to include only those datasets which have been tagged with at least one of the tags:
       <span class="searchedTags"> <%= searched %> </span>
       <% end %>
  <% else -%>
  The results have <strong class="searchedTags">not</strong> been filtered based on dataset tags as none of the datasets in the result set has any of the tags that were specified.
  <% end -%>

</div>
<% end -%>

<% if session[:query_ids].length == 1 and
      String === SPELL_OPTIONS[:search_results_for_single_gene_text] 
%>
  <%= SPELL_OPTIONS[:search_results_for_single_gene_text] %>
<% end %>


<% if String === SPELL_OPTIONS[:search_results_text] %>
<div>
  <%= SPELL_OPTIONS[:search_results_text] %>
</div>
<% end %>

# of Result Genes to Show: <%= select('query', 'num_genes', [['20', 20], ['50', 50], ['100', 100]], :selected => session[:num_genes].to_i) %>
<%= observe_field('query_num_genes', {:url => {:action => :expr_results}, :update => "exprs", :with => 'num_genes',
					:complete => "JT_init(); tb_init('a.thickbox, area.thickbox, input.thickbox'); loadingAnimation(false);",
					:before => "copy_num_genes(); loadingAnimation(true);" } ) %>

<%= observe_field('query_num_genes', {:url => {:action => :go_results}, :update => "goresults", :with => 'num_genes'} ) %> 

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Datasets to view: <%= select('query', 'dset_page', dset_page_choices(10), :selected => session[:dset_page].to_i) %>
<%= observe_field('query_dset_page', {:url => {:action => :expr_results}, :update => "exprs", :with => 'dset_page',
					:complete => "JT_init(); tb_init('a.thickbox, area.thickbox, input.thickbox'); loadingAnimation(false);",
					:before => "loadingAnimation(true);" } ) %>

<%= javascript_tag( remote_function( :update => "exprs", :url => {:action => :expr_results},
					:complete => "JT_init(); tb_init('a.thickbox, area.thickbox, input.thickbox'); loadingAnimation(false);",
					:before => "loadingAnimation(true);" )) %>

<%= render :partial => 'additional_display_options' %>

<%= observe_field('query_single_display', {:url => {:action => :expr_results}, :update => "exprs", :with => 'single_display',
					:complete => "JT_init(); tb_init('a.thickbox, area.thickbox, input.thickbox'); loadingAnimation(false);",
					:before => "loadingAnimation(true);" } ) %>

<%= observe_field('query_single_color', {:url => {:action => :expr_results}, :update => "exprs", :with => 'single_color',
					:complete => "JT_init(); tb_init('a.thickbox, area.thickbox, input.thickbox'); loadingAnimation(false);",
					:before => "loadingAnimation(true);" } ) %>

<%= observe_field('query_dual_display', {:url => {:action => :expr_results}, :update => "exprs", :with => 'dual_display',
					:complete => "JT_init(); tb_init('a.thickbox, area.thickbox, input.thickbox'); loadingAnimation(false);",
					:before => "loadingAnimation(true);" } ) %>

<%= observe_field('query_dual_color', {:url => {:action => :expr_results}, :update => "exprs", :with => 'dual_color',
					:complete => "JT_init(); tb_init('a.thickbox, area.thickbox, input.thickbox'); loadingAnimation(false);",
					:before => "loadingAnimation(true);" } ) %>

<%= javascript_tag( remote_function( :update => "goresults", :url => {:action => :go_results} )) %>

<% form_tag(:action => 'update_search') do -%>

<% # SPELL Version 2.0.3
  if SPELL_OPTIONS[:relevantTags]
  %>
    <!-- input type="hidden" name="query[search_genes]" value="<%= session[:search_string]-%>" /> -->
    <input type="hidden" name="query[num_genes]"    value="<%= session[:num_genes]-%>" id="hidden_num_genes" />
    <%= render :partial => 'search_tags', :locals => { :generate_filter_by_tags_button => false }  %>
<% end -%>

<p/>
<%= submit_tag 'Update' %><%= help_link('update_search') %>
&nbsp;&nbsp;<%= link_to("Gene results as text", :action => 'gene_results_as_text') %>

<% if session[:query_ids].length > 1 %>
&nbsp;&nbsp;<%= link_to("Dataset results as text", :action => 'ds_results_as_text') %>
		<%= help_link('DatasetResultsAsText') -%>
<% end -%>

<div id="exprs">
</div>	
<% end -%>

<br />&nbsp;<br />
<div>
 GO Term Enrichment<%= help_link('gotermenrich') %>
</div>
<div id="goresults">
</div>
