<% @page_title = "SPELL - <i>#{LATIN_NAME}</i> - Controlled Vocabulary for Dataset Tags" -%>

The tags used to describe the datasets on this website have the definitions indicated in the following table.
<p>
<%= spell_options(:DescribeDatasetTags) || "" %>
<p>
<%=
  # NOTE: If the table has id=tag_details then it will be styled.
  # NOTE: a partial cannot begin with an uppercase letter!
  render :partial => 'cv_terms_and_defs'   # i.e. _cv_terms_and_defs.rhtml
 -%>
