
	
<p>This is a test of AJAX-y stuff</p>

<%= link_to_remote("link",
					:update => 'updiv',
					:url => {:action => :say_hello}) %> 

<div id="updiv" name="updiv">Text to replace</div>

<%= link_to("thickbox link", 
		        options = { :action => :testMethod },
		        html_options = { :class => 'thickbox', :title => "" }) %>

