<%= error_messages_for 'common_genes' %>

<% for column in Common_gene.columns 
	if column.name != "id" -%>
		<p><label for="common_gene_<%= column.name %>"><%= column.name %></label><br>
		<%= text_field 'common_gene', column.name %></p>
	<% end
end -%>
