<%= error_messages_for 'dataset' %>

<% for column in Dataset.columns -%>
	<% if column.name != "id" -%>
		<p><label for="dataset_<%= column.name %>"><%= column.name %></label><br>
		<%= text_field 'dataset', column.name %></p>
	<% end -%>
<% end -%>
