<%= error_messages_for 'flexible_link' %>

   <p><label for="flexible_link_filename">Dataset filename (not including the path)</label><br>
		<%= text_field 'flexible_link', 'filename' %></p>
   <p><label for="flexible_link_label">Text to display for link</label><br>
		<%= text_field 'flexible_link', 'label' %></p>
   <p><label for="flexible_link_url">URL to link to</label><br>
		<%= text_field 'flexible_link', 'url' %></p>
