<%= error_messages_for 'gene_alias' %>

<% for column in Gene_alias.columns 
	if column.name != "id" -%>
		<p><label for="gene_alias_<%= column.name %>"><%= column.name %></label><br>
		<%= text_field 'gene_alias', column.name %></p>
	<% end
end -%>
