<%= error_messages_for 'gene' %>

<% for column in Gene.columns 
	if column.name != "id" -%>
		<p><label for="gene_<%= column.name %>"><%= column.name %></label><br>
		<%= text_field 'gene', column.name %></p>
	<% end
end -%>
