<%= error_messages_for 'user' %>

<table>
	<tr>
		<td>User name:</td>
		<td><%= text_field("user", "name") %></td>
	</tr>
	<tr>
		<td>Password:</td>
		<td><%= password_field("user", "password") %></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value=" UPDATE USER " /></td>
	</tr>
</table>
