<h1>Edit Gene Alias</h1>

<% form_tag(:action => 'update_gene_alias', :id => @gene_alias) do -%>
  <%= render :partial => 'gene_alias_form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Return to List', :action => 'list_gene_aliases' %>