<h1>Edit Flexible Dataset Link</h1>

<% form_tag(:action => 'update_flexible_link', :id => @flexible_link) do -%>
  <%= render :partial => 'flexible_link_form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Return to List', :action => 'list_flexible_links' %>