<h1>Edit Gene</h1>

<% form_tag(:action => 'update_gene', :id => @gene) do -%>
  <%= render :partial => 'gene_form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Return to List', :action => 'list_genes' %>