<h1>Edit Common Gene</h1>

<% form_tag(:action => 'update_common_gene', :id => @common_gene) do -%>
  <%= render :partial => 'common_gene_form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Return to List', :action => 'list_common_genes' %>