<h1>Edit Dataset</h1>

<% form_tag(:action => 'update_dataset', :id => @dataset) do -%>
  <%= render :partial => 'dataset_form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Show', :action => 'show_dataset', :id => @dataset %>
<%= link_to 'Return to List', :action => 'list_datasets' %>