<p>There are <%= Expr.count %> tables of expression levels in the database</p>
<p>
  <%= link_to "Add New Expression Levels", :action => 'new_list_exprs' %> |
<!--
  <%= link_to "Destroy all Expression Levels", { :action => 'destroy_all_exprs'},
                                      :confirm => "Do you really want to delete all expression levels?" %>
-->
</p>
<p>
To remove all the expression levels so that you can reload from scratch, use the mysql command:
</p>
<p>
<tt>mysql> truncate exprs;</tt>
</p>
