<p>
  <%= link_to "Add New Gene Alias", :action => 'new_gene_alias' %>
</p>

<% if (@gene_aliases == nil) || (@gene_aliases.length == 0) -%>
  <table id="list" cellpadding="2">
    <tr class="listTitle"><td>No gene aliases currently in the database</td></tr>
  </table>
<% else -%>
  <% paginated_section @gene_aliases do %>
    <table id="list" cellpadding="2">
      <tr class="listTitle">
        <% for column in Gene_alias.columns -%>
          <td><%= link_to column.name, { :action => 'list_gene_aliases', :order => column.name } %></td>
        <% end -%>
	<td>actions</td>
      </tr>

      <% odd_or_even = 0
         for gene_alias in @gene_aliases
           odd_or_even = 1-odd_or_even -%>
           <tr class="listLine<%= odd_or_even %>">
             <% for column in Gene_alias.columns -%>
	       <td>
                 <% if column.name == "alias_name" -%>
                   <%= link_to_genepage(gene_alias.alias_name) %>
                 <% elsif column.name == "systematic_name" -%>
                   <%= link_to_genepage_notrans(gene_alias.systematic_name) %>
                 <% else -%>
                   <%= h(gene_alias.send(column.name)) %>
                 <% end -%>
	       </td>
             <% end -%>

             <td class="listActions">
               <%= link_to 'Edit', :action => 'edit_gene_alias', :id => gene_alias %>&nbsp;|
               <%= link_to 'Destroy', { :action => 'destroy_gene_alias', :id => gene_alias },
                               :confirm => "Are you sure you want to delete the gene alias name #{gene_alias.alias_name} (#{gene_alias.systematic_name})?" %>
             </td>
           </tr>
         <% end -%>
     </table>
   <% end -%>
<% end -%>

<p>
  <%= link_to "Add New Gene Alias", :action => 'new_gene_alias' %> |
  <%= link_to "Add List of Gene Aliases", :action => 'new_list_gene_aliases' %> |
  <%= link_to "Destroy all Gene Aliases", { :action => 'destroy_all_gene_aliases'},
                                      :confirm => "Do you really want to delete all gene aliases?" %>
</p>
