<p>
  <%= link_to "Add New User", :action => 'add_user' %>
</p>

<% if (@users == nil) || (@users.length == 0) -%>
  <table id="list" cellpadding="2">
    <tr class="listTitle"><td>No users currently in the database</td></tr>
  </table>
<% else -%>
  <% paginated_section @users do %>
    <table id="list" cellpadding="2">
      <tr class="listTitle">
        <% for column in User.columns -%>
	  <% if column.name != "hashed_password" -%>
            <td><%= link_to column.name, { :action => 'list_users', :order => column.name } %></td>
	  <% end
        end -%>
	<td>actions</td>
      </tr>

      <% odd_or_even = 0
         for user in @users
           odd_or_even = 1-odd_or_even -%>
           <tr class="listLine<%= odd_or_even %>">
             <% for column in User.columns -%>
	       <% if column.name != "hashed_password" -%>
	         <td>
                   <%= h(user.send(column.name)) %>
	         </td>
               <% end
             end -%>

             <td class="listActions">
               <%= link_to 'Edit', :action => 'edit_user', :id => user %>&nbsp;|
               <%= link_to 'Remove', { :action => 'remove_user', :id => user },
                               :confirm => "Are you sure you want to remove the user name #{user.name}?" %>
             </td>
           </tr>
         <% end -%>
     </table>
   <% end -%>
<% end -%>

<p>
  <%= link_to "Add New User", :action => 'add_user' %>
</p>
