<p>
  <%= link_to "Add New Gene", :action => 'new_gene' %>
</p>

<% if (@genes == nil) || (@genes.length == 0) -%>
  	<table id="list" cellpadding="2">
    <tr class="listTitle"><td>No genes currently in the database</td></tr>
	</table>
<% else -%>
	<% paginated_section @genes do %>
		<table id="list" cellpadding="2">
		<tr class="listTitle">
	  	<% for column in Gene.columns -%>
	    	<td><%= link_to column.name, { :action => 'list_genes', :order => column.name } %></td>
			<% if column.name == "name" -%>
				<td>link</td>
			<% end -%>
	 	<% end -%>
		<td>actions</td>
		</tr>
	
		<% odd_or_even = 0
		for gene in @genes
	  		odd_or_even = 1-odd_or_even -%>
	  		<tr class="listLine<%= odd_or_even %>">
	    	<% for column in Gene.columns -%>
	        	<td><%= h(gene.send(column.name)) %></td>
				<% if column.name == "name" -%>
					<td><%= link_to_genepage(gene.name) %></td>
				<% end -%>
	    	<% end -%>
	    	<td class="listActions">
	      	<%= link_to 'Edit', :action => 'edit_gene', :id => gene %>&nbsp;|
	      	<%= link_to 'Destroy', { :action => 'destroy_gene', :id => gene },
	                               :confirm => "Are you sure you want to delete #{gene.name}?" %>
	    	</td>
	  		</tr>
		<% end -%>
		</table>
	<% end -%>
<% end -%>

<p>
  <%= link_to "Add New Gene", :action => 'new_gene' %> |
  <%= link_to "Add List of Genes", :action => 'new_list_genes' %> |
  <%= link_to "Destroy all Genes", { :action => 'destroy_all_genes'},
                                      :confirm => "Do you really want to delete all genes?" %>
</p>
