<p>
  <%= link_to "Add New Dataset", :action => 'new_dataset' %>
</p>

<% paginated_section @datasets do -%>

<table id="list">
  <% if @datasets.length == 0 -%>
    <tr class="listTitle"><td>No datasets currently in the database</td></tr>
  <% else -%>  
    <tr class="listTitle">
      <% for column in Dataset.columns -%>
        <td><%= link_to column.name, { :action => 'list_datasets', :order => column.name } %></td>
      <% end -%>
    </tr>
  
    <% odd_or_even = 0
    for dataset in @datasets
      odd_or_even = 1-odd_or_even -%>
      <tr class="listLine<%= odd_or_even %>">
        <% for column in Dataset.columns -%>
          <% if column.name == "description" -%>
            <td><%= h(truncate(dataset.description, {:length => 60})) %></td>
          <% elsif column.name == "pubmedID" -%>
            <td><%= link_to_pubmed(dataset.pubmedID) %></td>
          <% else -%>
            <td><%= truncate(h(dataset.send(column.name)),{ :length => 25}) %></td>
          <% end -%>  
        <% end -%>
        <td class="listActions">
          <%= link_to 'Show', :action => 'show_dataset', :id => dataset %><br>
          <%= link_to 'Edit', :action => 'edit_dataset', :id => dataset %><br>
          <%= link_to 'Destroy', { :action => 'destroy_dataset', :id => dataset },
                                   :confirm => "Are you sure you want to delete #{dataset.name}?" %>
        </td>
      </tr>
    <% end -%>
  <% end -%>
</table>

<% end -%>

<p>
  <%= link_to "Add New Dataset", :action => 'new_dataset' %> |
  <%= link_to "Add List of Datasets", :action => 'new_list_datasets' %> |
  <%= link_to "Destroy all Datasets", { :action => 'destroy_all_datasets'},
                                      :confirm => "Do you really want to delete all datasets?" %>
</p>
          