<p>
  <%= link_to "Add New Flexible Dataset Link", :action => 'new_flexible_link' %>
</p>

<% if (@flexible_links == nil) || (@flexible_links.length == 0) -%>
  <table id="list" cellpadding="2">
    <tr class="listTitle"><td>No flexible dataset links currently in the database</td></tr>
  </table>
<% else -%>
  <% paginated_section @flexible_links do %>
    <table id="list" cellpadding="2">
      <tr class="listTitle">
        <% for column in Flexible_dataset_link.columns -%>
          <td><%= link_to column.name, { :action => 'list_flexible_links', :order => column.name } %></td>
        <% end -%>
	<td>actions</td>
      </tr>

      <% odd_or_even = 0
         for flexible_link in @flexible_links
           odd_or_even = 1-odd_or_even -%>
           <tr class="listLine<%= odd_or_even %>">
             <% for column in Flexible_dataset_link.columns -%>
	       <td>
                 <%= h(flexible_link.send(column.name)) %>
	       </td>
             <% end -%>

             <td class="listActions">
               <%= link_to 'Edit', :action => 'edit_flexible_link', :id => flexible_link %>
               &nbsp;|&nbsp;
               <%= link_to 'Destroy', { :action => 'destroy_flexible_link', :id => flexible_link },
                               :confirm => "Are you sure you want to delete the flexible_link (#{flexible_link.filename}, #{flexible_link.label}, #{flexible_link.url})?" %>
             </td>
           </tr>
         <% end -%>
     </table>
   <% end -%>
<% end -%>

<p>
  <%= link_to "Add New Flexible Dataset Link", :action => 'new_flexible_link' %> |
  <%= link_to "Add List of Flexible Dataset Links", :action => 'new_list_flexible_links' %> |
  <%= link_to "Destroy all Flexible Dataset Links", { :action => 'destroy_all_flexible_links'},
                                      :confirm => "Do you really want to delete all flexible dataset links?" %>
</p>
