<p>
  <%= link_to "Add New Common Gene Name", :action => 'new_common_gene' %>
</p>

<!--
# QUESTION: What is our instance context?  How is @common_genes instantiated / populated?
-->
<% if (@common_genes == nil) || (@common_genes.length == 0) -%>
  <table id="list" cellpadding="2">
    <tr class="listTitle"><td>No common gene names currently in the database</td></tr>
  </table>
<% else -%>
  <% paginated_section @common_genes do %>
     <table id="list" cellpadding="2">
       <tr class="listTitle">
         <% for column in Common_gene.columns -%>
           <td><%= link_to column.name, { :action => 'list_common_genes', :order => column.name } %></td>
           <% if column.name == "name" -%>
             <td>link</td>
           <% end -%>
         <% end -%>
         <td>actions</td>
       </tr>
        
       <% odd_or_even = 0
          for common_gene in @common_genes
            odd_or_even = 1-odd_or_even -%>
            <tr class="listLine<%= odd_or_even %>">
              <% for column in Common_gene.columns -%>
                <td><%= h(common_gene.send(column.name)) %></td>
                <% if column.name == "name" -%>
                  <td><%= link_to_genepage(common_gene.name) %></td>
                <% end -%>
              <% end -%>
              <td class="listActions">
<!--
# QUESTION: How does :id=> extract the id field from the object?  Magic?
-->
                <%= link_to 'Edit', :action => 'edit_common_gene', :id => common_gene %>&nbsp;|
                <%= link_to 'Destroy', { :action => 'destroy_common_gene', :id => common_gene },
                          :confirm => "Are you sure you want to delete common gene name #{common_gene.common_name} (#{common_gene.systematic_name})?" %>
              </td>
            </tr>
          <% end -%>
      </table>
    <% end -%>
<% end -%>

<p>
  <%= link_to "Add New Common Gene Name", :action => 'new_common_gene' %> |
  <%= link_to "Add List of Common Genes Names", :action => 'new_list_common_genes' %> |
  <%= link_to "Destroy all Common Genes Names", { :action => 'destroy_all_common_genes'},
                                      :confirm => "Do you really want to delete all common gene names?" %>
</p>
