<h1>Upload common gene name mappings from list</h1>
  <p>This information is used to map from systematic gene names to common names. There should be one
     line for each systematic name that has a common equivalent.  If no mapping is specified in this
     file for a particular gene, the systematic name will be used.</p>

  <p>Your data list should be tab delimited plain text, with one entry per line of the form:</p>

  <table cellpadding="3" cellspacing="0" border="1">
    <tr>
      <td>Systematic name</td>
      <td>Common name</td>
    </tr>
  </table>

<% form_tag({ :action => 'add_list_common_genes' }, :multipart => 'true') do -%>  
  <p>Upload your file: <%= file_field_tag 'filename' %></p>
  <%= submit_tag "Upload common gene list" %>
<% end -%>

<%= link_to "Return to Common Gene List", :action => 'list_common_genes' %>  