<h1>New Dataset</h1>

<% form_tag(:action => 'add_dataset') do -%>
  <%= render :partial => 'dataset_form' %>
  <%= submit_tag "Create" %>
<% end -%>

<%= link_to 'Return to List', :action => 'list_datasets' %>
