<h1>Upload flexible dataset links from list</h1>

  <p>This information is used to provide arbitrary extra browser links
     on the dataset details page.  Links with a "filename" of
     <b>__ANY__</b> will be displayed for every dataset.</p>
  <p>Links where the text to be displayed or the URL contains the characters
     <b>#{FILE}</b> will have those characters replaced by the
     dataset's filename.</p>
  <p>Links where the text to be displayed or the URL contains the characters
     <b>#{CONDITION}</b> will be listed once for every condition in
     the dataset, with those characters replaced with a sequential
     number representing the condition, starting with 1 for the first
     condition in the dataset.</p>

  <p>There should be one line in this file for each desired link.</p>

  <p>Your data list should be tab delimited plain text, with one entry per line of the form:</p>
  <table cellpadding="3" cellspacing="0" border="1">
    <tr>
      <td>Dataset Filename (or "__ANY__")</td>
      <td>Text to be displayed for the link</td>
      <td>The URL
    </tr>
  </table>

<% form_tag({ :action => 'add_list_flexible_links' }, :multipart => 'true') do -%>  
  <p>Upload your file: <%= file_field_tag 'filename' %></p>
  <%= submit_tag "Upload flexible dataset links list" %>
<% end -%>

<%= link_to "Return to Flexible Dataset Links List", :action => 'list_flexible_links' %>  