<h1>Upload gene alias info from list</h1>

  <p>This information is used to map from common gene names to systematic gene names. There may be
     many common names that refer to a single systematic gene name. There should be one line in
     this file for each common name.</p>

  <p>Your data list should be tab delimited plain text, with one entry per line of the form:</p>
  <table cellpadding="3" cellspacing="0" border="1">
    <tr>
      <td>Common name</td>
      <td>Systematic name</td>
    </tr>
  </table>

<% form_tag({ :action => 'add_list_gene_aliases' }, :multipart => 'true') do -%>  
  <p>Upload your file: <%= file_field_tag 'filename' %></p>
  <%= submit_tag "Upload gene aliases list" %>
<% end -%>

<%= link_to "Return to Gene Alias List", :action => 'list_gene_aliases' %>  