<h1>New Flexible Dataset Link</h1>
  <p>This information is used to provide arbitrary extra browser links
     on the dataset details page.  Links with a "filename" of
     <b>__ANY__</b> will be displayed for every dataset.</p>
  <p>Links where the text to be displayed or the URL contains the characters
     <b>#{FILE}</b> will have those characters replaced by the
     dataset's filename.</p>
  <p>Links where the text to be displayed or the URL contains the characters
     <b>#{CONDITION}</b> will be listed once for every condition in
     the dataset, with those characters replaced with a sequential
     number representing the condition, starting with 1 for the first
     condition in the dataset.</p>

<% form_tag(:action => 'add_flexible_link') do -%>
  <%= render :partial => 'flexible_link_form' %>
  <%= submit_tag "Create" %>
<% end -%>

<%= link_to 'Return to List', :action => 'list_flexible_links' %>