<h1>New Common Gene</h1>

<% form_tag(:action => 'add_common_gene') do -%>
  <%= render :partial => 'common_gene_form' %>
  <%= submit_tag "Create" %>
<% end -%>

<%= link_to 'Return to List', :action => 'list_common_genes' %>