<h1>New Gene Alias</h1>

<% form_tag(:action => 'add_gene_alias') do -%>
  <%= render :partial => 'gene_alias_form' %>
  <%= submit_tag "Create" %>
<% end -%>

<%= link_to 'Return to List', :action => 'list_gene_aliases' %>