<h1>Upload gene info from list</h1>

  <p>Your data list should be tab delimited plain text, with one entry per line of the form:</p>
  <table cellpadding="3" cellspacing="0" border="1">
    <tr>
      <% for column in Gene.content_columns -%>
        <td><%= column.name %></td>
      <% end -%>
    </tr>
  </table>

<% form_tag({ :action => 'add_list_genes' }, :multipart => 'true') do -%>  
  <p>Upload your file: <%= file_field_tag 'filename' %></p>
  <%= submit_tag "Upload gene list" %>
<% end -%>

<%= link_to "Return to Gene List", :action => 'list_genes' %>  