<h1>Upload expression levels from list</h1>

<% form_tag({ :action => 'add_list_exprs' }, :multipart => 'true') do -%>
  <p>Your data list should be tab delimited plain text, with one entry per line of the form:</p>
  <table cellpadding="3" cellspacing="0" border="1">
    <tr>
      <% for column in Expr.content_columns -%>
        <td><%= column.name %></td>
      <% end -%>
    </tr>
  </table>
  
  <p>Upload your file: <%= file_field_tag 'filename' %></p>
  <%= submit_tag "Upload expression level list" %>
<% end -%>

<%= link_to "Return to Expression Levels List", :action => 'list_exprs' %>  