<% for column in Dataset.content_columns -%>
<p>
	<b><%= column.human_name %></b>: <%= h(@dataset.send(column.name)) %>
</p>
<% end %>

<%= link_to "Edit", :action => 'edit_dataset', :id => @dataset %> | 
<%= link_to "Return to List", :action => 'list_datasets' %>
