/*
 * admin.css
 *
 * Style color attributes for elements in the 
 * admin half of SPELL.  All the elements used
 * in the admin portion are also used in the search
 * half of SPELL.  This file just contains the
 * color attributes for the admin side.
 * The layout attributes are specified in 
 * common.css, which is shared with the search side.
 */

body {
    color: #ddd;
    background-color: #000;
}

body a {
    color: #d22;
}

body a:visited {
    color: #a44;
}

body a:hover {
    color: #fff;
}

#header {
}

.logoimg {
}
    
#columns {
}

.side {
}

.main {
}

.main img {
}

#footer {
}

.footerimg {
}

.list {
}

.listTitle {
    color: #fff;
    background: #c33;
}

.listTitle a {
    color: #ddd;
}

.listTitle a:hover {
    color: #fff;
    background: #c33;
}

.listTitle a:visited {
    color: #ddd;
}

.listActions {
}

.listLine0 {
    background: #333;
}

.listLine1 {
    background: #111;
}

#notice {
    background: #eee;
    color: #111;
}
