/*
 * common.css
 *
 * style elements here are shared between the search and admin 
 * "sides" of SPELL. Colors differ between the two sides,
 * so all the color attributes are specified in search.css
 * and admin.css, respectively.
 * Note that the search side of SPELL has more classes /
 * elements than admin does.  The style definitions for
 * items which are only used in the search side are
 * contained completely in search.css, and do not 
 * appear here.
 */
body {
    font-size: 1em;
    font-family: Garamond, "Times New Roman", serif;
    margin: 0px;
}

body a {
    text-decoration: underline;
}

body a:visited {
    text-decoration: underline;
}

body a:hover {
    text-decoration: none;
}

/* SPELL 2.0.3 - revise #header; add #header-text and #logo */
#header {
    text-align: center;
    font-size: 2.5em;
    min-height: 120px; /* This must be no less than the height of the logo (default logo is 107px high) */
}

#header-text {
    padding-top: 0.8em;
    padding-left: 20%; /* width of div.side + margin of div.side + padding of div.main */
    /* vertical-align: middle; */
}

.logoimg {
    vertical-align: middle;
    float: left;
}
    
#columns {
    width: 100%;
}

.side {
    width: 15%;
    float: left;
    margin-top: 5%;
    margin-left: 2%;
}

.main {
    padding-left: 3%;
    width: 76%;
    float: left;
}

.main img {
	vertical-align: top;
	border: 0;
}

#footer {
    margin-top: 5%;
    text-align: center;
    font-size: 0.7em;
    height: 150px;
}

.footerimg {
    float: right;
    padding: 15px 15px 15px 15px;
}

.list {
}

.listTitle {
    font-weight: bold;
    text-align: center;
}

.listTitle a {
}

.listTitle a:hover {
}

.listTitle a:visited {
}

.listActions {
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
}

.listLine0 {
}

.listLine1 {
}

#notice {
    border: thin solid red;
    padding: 2% 2% 2% 2%;
}

/* zebra shading for the tag_details table */
#tag_details tr:nth-of-type(even) {
  background-color: #304545;
}

/* new tab or window */
a.newtab {
  color: #AEA;
}

a.newtab:visited {
  color: #7B7;
}

/* Using newtab:after to specify the icon presents insurmountable difficulties.
 * The following achieves the desired results using FF and Google Chrome but not MSIE9:
   .newtab, .newtab:after {
      content: url(../images/new_window_icon.gif);
   }
 * .newtab alone: image disappears in FF
 * .newtab:after alone: image is not mouse-sensitive in Chrome
*/

/* instant gratification */
.newtab:hover, .outline:hover {
  outline: 1px solid green;
}
