/* jtooltip.css
 *
 * This file contains the element style attributes for the rollover popup windows, for instance, that
 * contain the description of the datasets in the SPELL search results window.
 */

#JT {
	position: absolute;
	z-index:100;
	/* The border of the pop-up window */
	border: 2px solid #CCCCCC;
	/* This should match, or be compatible with your main search results page background color.
           If it is omitted, the popup has a transparent background, which makes reading the 
           new text difficult! */
	background-color: #000; */
}

#JT_copy{
	padding:10px 10px 10px 10px;
}

.JT_loader{
	background-image: url(../images/loadingAnimation.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:30px;
}

#JT_copy p{
margin:3px 0;
}

/* This one may not have any effect in the way that SPELL uses the package. */
#JT_copy img{
	padding: 1px;
	border: 1px solid #CCCCCC;
}

.jTip{
cursor:help;
}

/* Highlight the help icon: */
.jTip img {
   width: 12px;
   background-color: black;
}

/* Another way to highlight the help icon: 
.jTip img {
   padding: 1px;
   width: 9px;
   height: 9px;
   background-color: blue;
}
*/
