/*
 * search.css
 *
 * Style elements used in the search side of SPELL.
 * The elements in the first half of this file are
 * used by both search and admin. This file contains
 * only the color attributes of these shared elements.
 * The layout attributes for shared elements are
 * specified in common.css.
 *
 * The search side of SPELL uses more elements than
 * admin does.  Elements used only by search
 * are defined completely in this file, and appear
 * after the comment marking the separation between
 * shared and "private" elements.
 */

/* Stop jiggling - works in Chrome and Firefox ... */
html { overflow-y: scroll; }

body {
    color: #ddd;
    background-color: #000;
}

/* These anchor color changes are _VERY_ subtle! */
body a {
    color: #2d2;
}

body a:visited {
    color: #4a4;
}

body a:hover {
    color: #5f5;
}

#header {
}

.logoimg {
}

#columns {
}

.side {
}

.main {
}

.main img {
}

#footer {
}

.footerimg {
}

.list {
}

.listTitle {
    color: #fff;
    background: #191;
}

.listTitle a {
    color: #ddd;
}

/* Why doesn't this work? */
.listTitle a:hover {
    color: #fff;
    background: #191;
}

.listTitle a:visited {
    color: #ddd;
}

.listActions {
}

.listLine0 {
    background: #333;
}

.listLine1 {
    background: #111;
}

#notice {
    background: #bbb;
    color: #111;
}

/*
 * All the elements liste4d after this point are
 * solely used by search, not by admin. From
 * here on, the style definitions are complete and
 * are contained only in this file.  None of these
 * elements appear in common.css.
 */

#help {
    border: thin dotted gray;
    background: #222;
    margin: 2% 2% 2% 2%;
    padding: 3% 3% 3% 3%;
}

.popup {
    font-size: 0.75em;
}

#instructions {
    text-align: left;
    font-size: 0.9em;
    padding: 5%;
}

.searchHeader {
    /* Used on the initial search query page */
    text-align: center;
}

.descr {
    font-size: 0.9em;
    vertical-align: bottom;
}

.dsetDesc {
    vertical-align: bottom;
}

/* For some reason, ".tagsTitle a" is insufficient */
.tagsTitle a:link {
    color: #fff;
}

.tagsTitle a:visited {
    color: #ddd;
}

td.tag { 
  text-align: left;
  text-indent: -1.2em; /* first line only */
  padding-left: 1.2em;
}

.tags {
    vertical-align: bottom;
    /* In some ways it would be better to use max-height and the overflow feature of CSS, e.g.
      max-height:2.2em; 
      overflow-x:hidden;
      overflow-y:scroll;
    */
    /* border-bottom appears on each line! */
    /* border-bottom:0.1px solid orange;"  */
}

.spacer {
    /* display: block; */
    font-size: 1px;
    border-bottom:1px;
}

.lbl {
    vertical-align: bottom;
    font-weight: bold;
}

.lbl_right {
    text-align: right;
    vertical-align: bottom;
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}

.singleExpr {
    width: 100%;
    margin: 0%;
}

table.search {
    text-align: center;
}

table.search tr.searchTitle {
    background: #191;
    color: #eee;
    text-align: center;
}

table.search tr.searchBox {
    background: #333;
    color: #eee;
    text-align: center;
}

span.notags { color: gray; }

#overlay {
    z-index:1;
    position: fixed;
    top:0px;
    left:0px;
    opacity:0.50;
    filter: alpha(opacity=50);
    -moz-opacity: 0.50;
    width:100%;
    height:100%;
    padding-top: 10%;
    padding-left: 10%;
    background-color: #000;
}

#loader {
    z-index:2;
    position: fixed;
    top: 45%;
    left: 45%;
}

#expr_table {
}

table.results {
    text-align: left;
    font-size: 0.85em;
}

table.results tr.query {
    background: #443;
    white-space: nowrap;
}

table.details {
    border: thin dotted gray;
    border-spacing: 10px;
    background: #111;
    padding: 2%;
}

table.details td.colLabel {
    white-space: 		nowrap;
    text-align:  		right;
    font-weight: 		bold;
    vertical-align: 	top;
}

table.smallDetails {
    border-spacing: 10px;
    padding: 2%;
    font-size: 0.85em;
}

table.smallDetails td.colLabel {
    white-space: 		nowrap;
    text-align:  		right;
    font-weight: 		bold;
    vertical-align: 	top;
}

table.goresults {
    border: thin solid gray;
    font-size: 0.8em;
}

table.goresults td {
    border: thin solid #333;
}

table.goresults td.fit {
    white-space: nowrap;
}

table.goresults tr.cellular_component {
    background-color: #030;
}

table.goresults tr.biological_process {
}

table.goresults tr.molecular_function {
    background-color: #300;
}

table.goresults a {
    color: #ddd;
    text-decoration: underline;
}

table.goresults a:visited {
    color: #aaa;
    text-decoration: underline;
}

table.goresults a:hover {
    color: #fff;
    text-decoration: none;
}

td.results_row_header {
    background-color: #080;
    text-align: center;
}

td.query_row_header {
    text-align: center;
}

td.nodata_ribbon {
 background-color: #AAAAAA;
 color: #000;
 text-align: center;
 height: 10px;
 font-size: 0.5em;
}

.hideaway_head {
    border: thin solid #333;
    background: #111;
    vertical-align: center;
    /* margin-left: 2%; margin-right: 2%; */
}

.hideaway_body {
    border: thin solid #333;
    /* margin-left: 2%; margin-right: 2%; */
}

.options {
    margin-top: 5px;
    margin-bottom: 5px;
}

.searchedTags {
    color: #00d2d2;
}

.single_expression_datum {
    text-align: center;
    color: #aaa;
}
