/*
 * thickbox.css
 *
 * This contains the thickbox element style attributes, heavily customized for the way that
 * the SPELL application uses thickbox.  We use only a small set of the overall thickbox elements.
 * The unused element styles are retained at the end of this file, commented out.
 */

/* This dims-out the main expressions page when clicking on a ribbon to display the expanded expression
   info for a dataset. */
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	/* This background color should match the main page's background color.
	   It can't be omitted, or the dimming will not happen. */
	background-color: #000;
	/* Controls opacity for ie. */
	filter: alpha(opacity=75);
	/* Don't know what this one is for...
	   The name would lead you toward Firefox, but that's the next one.*/
	/*
	-moz-opacity: 0.75;
	*/
	/* Controls opacity for Firefox. */
	opacity: 0.75;
	height:100%;
	width:100%;
}

* html #TB_overlay { /* ie6 hack still needed on ie8*/
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

/* This is the window that is presented with the pop-up detailed expression info. */
#TB_window {
	position: fixed;
	background: #000000;
	z-index: 102;
	color:#aaa;
	display:none;
	border: 4px solid #525252;
	text-align:left;
	top:50%;
	left:50%;
}


* html #TB_window { /* ie6 hack, still needed in ie8 */
        position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

/* Positions the "close or Exc Key" at the right. */
#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

/* Creates the thick top border of the expression detail overlay */
#TB_title{
	background-color: #555;
	height:27px;
}


/* Causes text to be constrained to the window, with scroll bars added as needed. */
#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}


/* The following items don't _seem_ to have any effect on the way SPELL uses thickbox. */
/* We leave them in the file, commented out, in case they become necessary in the future. */

/* #TB_window {
	/*font: 12px Arial, Helvetica, sans-serif;*/    /*
	color: #333333; 
}
*/

/*
#TB_secondLine {
	/*font: 10px Arial, Helvetica, sans-serif;*/    /*
	color:#666666;
}
*/

/*
#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid  #666;
	border-left: 1px solid #666;
}
*/

/*
#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}
*/

/*
#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
	border thick solid red;
}
*/

/*
#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
	border thick solid red;
}
*/

/*
#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
/*
	border thick red solid;
}

* html #TB_load { /* ie6 hack */
/*
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 1;
	height:100%;
	width:100%;
	border thick red solid;
}

* html #TB_HideSelect { /* ie6 hack */
/*
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	/*_margin-bottom:1px;*/
/*
	border thick red solid;

}
*/