<!-- Clicky -- presupposing SPELL_OPTIONS[:clicky_site_id] -->
<script type="text/javascript"> 
  var clicky = { log: function(){ return; }, goal: function(){ return; }};
  var clicky_site_id = <%= SPELL_OPTIONS[:clicky_site_id] -%> ;
  (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = ( document.location.protocol == 'https:' ?
            'https://static.getclicky.com/js' : 'http://static.getclicky.com/js' );
    ( document.getElementsByTagName('head')[0] ||
      document.getElementsByTagName('body')[0] ).appendChild( s );
   })();
</script> 
