<!DOCTYPE HTML PUBLIC "-//W3C/DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>SPELL Administration Site</title>
<%= stylesheet_link_tag "common", "admin", :media => "all" %>
</head>

<body>
<div id="header">
  <%= image_tag( SPELL_OPTIONS[:logoPath] ? SPELL_OPTIONS[:logoPath] : "/images/logo.jpg", :class => 'logoimg') %>
  <%= @page_title || "#{COMMON_NAME} SPELL Administration" %>
</div>
<div id="columns">
  <div class="side">
    <%= link_to("Home", :action => 'index') %>
    <br><br>
    <%= link_to("Datasets", :action => 'list_datasets') %>
    <br><br>
    <%= link_to("Genes", :action => 'list_genes') %>
    <br><br>    
    <%= link_to("Common Gene Names", :action => 'list_common_genes') %>
    <br><br>    
    <%= link_to("Gene Aliases", :action => 'list_gene_aliases') %>
    <br><br>    
    <%= link_to("Exprs", :action => 'list_exprs') %>
    <br /> <br />
    <%= link_to("Admin Users", :action => 'list_users') %>
    <br /> <br />
    <%= link_to("Flexible Dataset Links", :action => 'list_flexible_links') %>
    <br /> <br />
    <%= link_to("Logout", :controller => 'login', :action => 'logout') %>
    
  </div>
  <div class="main">
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
    <%= @content_for_layout %>
  </div>
</div>
<div id="footer">
  <%= image_tag("/images/rails.png", :class => 'footerimg') %>
</div>

<!--
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1244480-4";
urchinTracker();
</script>
-->

</body>
</html>
