<!DOCTYPE HTML PUBLIC "-//W3C/DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<% if String === SPELL_OPTIONS[:titleText] %>
  <title> <%= SPELL_OPTIONS[:titleText] %> </title>
<% else %>
  <title>SPELL - <%= LATIN_NAME %></title>
<% end %>
<%= stylesheet_link_tag "search", :media => "all" %>

<% if String === SPELL_OPTIONS[:local_css] %>
  <%= stylesheet_link_tag SPELL_OPTIONS[:local_css] %>
<% end %>

</head>

<body>

<%= @content_for_layout %>

</body>
</html>
