<!--
Enabling this DOCTYPE line breaks the nested table display of expression data in a weird way on firefox.
<!DOCTYPE HTML PUBLIC "-//W3C/DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
-->

<html>
<head>
<% if String === SPELL_OPTIONS[:titleText] %>
  <title> <%= SPELL_OPTIONS[:titleText] %> </title>
<% else %>
  <title>SPELL - <%= LATIN_NAME %></title>
<% end %>
<%= stylesheet_link_tag "common", "search", :media => "all" %>

<script type="text/javascript">
	var GB_ROOT_DIR = "javascripts/";
</script>
<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag "jquery-latest.pack.js" %>

<script type="text/javascript">
	jQuery.noConflict();

        // ONE POSSIBLE WAY TO CONFIGURE thickbox.js
        var SPELL_OPTIONS = {"path": "<%="#{HOSTNAME}"-%>" } ;
</script>

<%= javascript_include_tag "thickbox.js", :defaults %>
<%= javascript_include_tag "jtip.js" %>
<%= stylesheet_link_tag "thickbox", :media => 'all' %>
<%= stylesheet_link_tag "jtooltip", :media => 'all' %>

<!-- Allow local customization of CSS -->
<% if String === SPELL_OPTIONS[:local_css] %>
  <%= stylesheet_link_tag SPELL_OPTIONS[:local_css] %>
<% end %>

<script type="text/javascript">
  jQuery(document).ready(function() {
		jQuery(".hideaway_body.display_options").hide();
		jQuery(".hideaway_head.display_options").click(function() {
			jQuery(this).next(".hideaway_body.display_options").slideToggle(600);
		});
	});
</script>

<!-- CONFIGURATION DETAILS FOR jtooltip.css -->
<style type="text/css">
.JT_loader {
	background-image: url( <%= image_path("loadingAnimation.gif") -%> ) ; /* correct and effective here */
}
</style>

</head>

<body>


<div id="header">
  <%= image_tag( spell_options(:logoPath) ? spell_options(:logoPath) : "/images/logo.jpg", :class => 'logoimg', :id => 'logo' ) %>
  <div id="header-text">
    <% if String === SPELL_OPTIONS[:h1Text] %>
      <%= @page_title || SPELL_OPTIONS[:h1Text] %>
    <% else %>
      <%= @page_title || "SPELL - <i>#{LATIN_NAME}</i>" %>
    <% end %>
  </div>
</div>
<div id="columns">
  <div class="side">
    <%= link_to("New Search", :action => 'index') %>
    <br><br>
    <%= link_to("Dataset Listing", :action => 'dataset_listing') %>
	<br><br>
    <%= link_to("Show Expression Levels", :action => 'gene_listing') %>
    <br><br>
    <%= link_to("About the Website", :action => 'about') %>
    <p>SPELL Version <%= SPELL_VERSION %></p>
  </div>
  <div class="main">
    <% if flash[:notice] -%>
    		<div id="notice">The following 
                  <%= flash[:notice].index("<br>") ? "problem(s)" : "problem" -%>
                  occurred:<br>
    		<%= flash[:notice] %></div>
    	<% end -%>
    <%= @content_for_layout %>
  </div>
</div>
<br clear=all>
<div id="footer">
	<hr>
  <%= PUBLICATION_DATA %><br>
  Contact: <%= mail_to SPELL_INSTANCE_CONTACT_EMAIL %><br><br>
</div>

<% case SPELL_OPTIONS[:google_analytics_account]
   when String
   %>
   <%= render :partial => 'layouts/ga' %>
<% end -%>

<% case SPELL_OPTIONS[:clicky_site_id]
   when String, Fixnum
   %>
   <%= render :partial => 'layouts/clicky' %>
<% end -%>

</body>
</html>
